<!-- orders/templates/orders/register.html -->
{% extends 'orders/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}

        <label>Username:</label><br>
        <input type="text" name="username" required><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br>

        <label>Confirm Password:</label><br>
        <input type="password" name="password_confirm" required><br>

        <label>First Name:</label><br>
        <input type="text" name="first_name" required><br>

        <label>Last Name:</label><br>
        <input type="text" name="last_name" required><br>

        <label>Birthdate:</label><br>
>
        <input type="date" name="birthdate" required><br>

        <label>Phone Number:</label><br>
        <input type="text" name="phone_number" required><br>

        <label>Address:</label><br>
        <textarea name="address" required></textarea><br>

        <label>Postal code:</label><br>
        <select name="postal_code" required>
            <option value="">Select Postal Code</option>
            {% for code in postal_codes %}
                <option value="{{ code.id }}">{{ code.postal_code }}</option>
            {% endfor %}
        </select><br> 

        <label>Gender:</label><br>
        <select name="gender" required>
            <option value="">Select Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
{% endblock %}
